# Project 1: Income Stock Portfolio

This project is to create a portfolio with 3 income stocks and explore basic statistics of the portfolio. The chosen income stocks are:
- PEP  (from PepsiCo, Inc., Beverage Industry)
- PG (from The Procter & Gamble Company, Household & Personal Products Industry)
- IBM (from International Business Machines Corporation, Information Technology Services Industry)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime 
import yfinance as yf

C:\Users\nhatthing.cao\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

## 1. Prepare the Data
I pulled the daily data of the three stocks in the period from Jan 01 2021 to Dec 31 2023,  from Yahoo Finance for my calculation

In [2]:
start_date = "2021-01-01"
end_date = "2023-12-31"

def stock_date(sticker, start = start_date, end = end_date):
    df = yf.download(sticker, start, end)
    return df


pep = stock_date("PEP")
pg = stock_date("PG")
ibm = stock_date("IBM")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
# closing price of each stock
pep_close_price = pep.Close.to_numpy()
pg_close_price = pg.Close.to_numpy()
ibm_close_price = ibm.Close.to_numpy()

# daily return of each stock daily return 
pep_daily_return = pep_close_price[1:]/pep_close_price[:-1] - 1
pg_daily_return = pg_close_price[1:]/pg_close_price[:-1] - 1
ibm_daily_return = ibm_close_price[1:]/ibm_close_price[:-1] - 1

portfolio = pd.DataFrame ({"PEP":pep_daily_return
                           ,"PG":pg_daily_return
                           ,"IBM":ibm_daily_return})
portfolio.head()

        PEP        PG       IBM
0  0.002980  0.006385  0.017751
1 -0.012232  0.010526  0.024972
2 -0.003218 -0.009346 -0.002320
3  0.012002 -0.000432 -0.003566
4 -0.014496 -0.006773  0.000389

## 2. The statistics

### 1. Average daily return, Standard deviation, Skewness and Kurtosis

In [4]:
daily_return = portfolio.mean()
std = portfolio.std()
skewness = portfolio.skew()
kurtosis = portfolio.kurtosis()

stats = pd.DataFrame({"Daily_Return":daily_return 
                      ,"STD": std
                      ,"Skewness" : skewness
                      ,"Kurtosis" : kurtosis})
stats

     Daily_Return       STD  Skewness  Kurtosis
PEP      0.000271  0.010357 -0.469387  3.084572
PG       0.000143  0.011039 -0.447597  3.223612
IBM      0.000521  0.013520 -0.857793  8.971818

### 2. Correlation and Covariance of PEP, PG, IBM

In [5]:
# Correlation
correlation = portfolio.corr()
correlation

          PEP        PG       IBM
PEP  1.000000  0.702786  0.346196
PG   0.702786  1.000000  0.349313
IBM  0.346196  0.349313  1.000000

In [6]:
# Covariance
covariance = portfolio.cov()
covariance

          PEP        PG       IBM
PEP  0.000107  0.000080  0.000048
PG   0.000080  0.000122  0.000052
IBM  0.000048  0.000052  0.000183

## 3. Portfolio statistics

While PEP and PG have a very strong correlation, IBM is less correlated with any of them. Therefore, to diversify the portfolio, I assigned 50% to IBM, 30% to PG and 20% to PEP

In [7]:
# daily return of the portfolio

portfolio["Portfolio"] = portfolio.PEP*0.2 + portfolio.PG*0.3 + portfolio.IBM*0.5
portfolio.head()

        PEP        PG       IBM  Portfolio
0  0.002980  0.006385  0.017751   0.011387
1 -0.012232  0.010526  0.024972   0.013198
2 -0.003218 -0.009346 -0.002320  -0.004608
3  0.012002 -0.000432 -0.003566   0.000488
4 -0.014496 -0.006773  0.000389  -0.004736

In [8]:
# stats of the portfolio
daily_return = portfolio.mean()
std = portfolio.std()
skewness = portfolio.skew()
kurtosis = portfolio.kurtosis()

portfolio_stats = pd.DataFrame({"Daily_Return":daily_return 
                      ,"STD": std
                      ,"Skewness" : skewness
                      ,"Kurtosis" : kurtosis})
portfolio_stats

           Daily_Return       STD  Skewness  Kurtosis
PEP            0.000271  0.010357 -0.469387  3.084572
PG             0.000143  0.011039 -0.447597  3.223612
IBM            0.000521  0.013520 -0.857793  8.971818
Portfolio      0.000357  0.009795 -0.520497  3.892110